@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* Create a radial gradient with Riddler's colors */
    background: radial-gradient(ellipse at center, #4CAF50 0%, #9C27B0 100%);
    background-size: 200% 200%; /* Make the gradient bigger than the viewport */
    animation: spinGradient 10s linear infinite; /* Add spinning animation */
    color: #333;
    overflow-x: hidden;
}

@keyframes spinGradient {
    0% {
        background-position: 100% 0%;
    }
    25% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    75% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}

/* ... Rest of the CSS remains unchanged */


.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency to show off the gradient */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Slightly darker shadow for contrast */
    text-align: center;
    position: relative;
    z-index: 1;
}

h1 {
    font-weight: 500;
    margin-bottom: 10px;
}

#user-answer {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 0.3s;
}

#user-answer:focus {
    border-color: #4CAF50; /* Green border */
}

button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green button */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.2s;
    margin: 10px;
}

button:hover {
    background-color: #388E3C; /* Darker green on hover */
}

button:active {
    background-color: #003f8a;
    transform: scale(0.97);
}

.hint-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 30px;
}

.hint-grid div {
    width: 100%;
    padding-bottom: 100%; /* Makes the cell square */
    background-color: #E1BEE7; /* Light Purple */
    position: relative;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 8px;
    overflow: hidden;
}


.hint-grid div:active {
    transform: scale(0.95);
}

.hint-grid div.revealed, .hint-grid div:hover {
    background-color: #9C27B0; /* A contrasting color when revealed or hovered */
    color: white;
}

.hint-grid div span {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: center;
    width: 80%;
}

.statistics p {
    margin: 20px 0;
    font-weight: 300;
    color: #212121; /* Dark text for better readability */
}
